  container {
    flex: 1;
    flex-direction: 'row';
    align-content: 'stretch';
    border-radius: '10px';
  }

  item {
    border: '1px solid rgba(0,0,0, 0.5)';
    background-color: '#3e3e41';
    border-radius: '10px';
    justify-self: 'center';
    align-self: 'center;
  }

  pfp {
    position: 'relative';
    left: -10;
    height: 50;
    width: 50;
    background-color: '#3e3e41';
  }

  info {
    position: 'relative';
    left: 10;
    height: 50;
    width: 30;
  }
 
